/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: rgb(146, 146, 242);
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1155%26quot%3b)' fill='none'%3e%3cpath d='M30.36 166.73L95.31 204.23L95.31 279.23L30.36 316.73L-34.59 279.23L-34.59 204.23zM225.22 54.23L290.18 91.73L290.18 166.73L225.22 204.23L160.27 166.73L160.27 91.73zM744.85 279.23L809.81 316.73L809.81 391.73L744.85 429.23L679.9 391.73L679.9 316.73zM809.8 -58.27L874.76 -20.77L874.76 54.23L809.8 91.73L744.85 54.23L744.85 -20.77zM1004.67 504.23L1069.62 541.73L1069.62 616.73L1004.67 654.23L939.71 616.73L939.71 541.73zM1134.57 54.23L1199.53 91.73L1199.53 166.73L1134.57 204.23L1069.62 166.73L1069.62 91.73zM1199.53 -58.27L1264.48 -20.77L1264.48 54.23L1199.53 91.73L1134.57 54.23L1134.57 -20.77zM1199.53 166.73L1264.48 204.23L1264.48 279.23L1199.53 316.73L1134.57 279.23L1134.57 204.23zM1524.3 279.23L1589.25 316.73L1589.25 391.73L1524.3 429.23L1459.34 391.73L1459.34 316.73zM1459.34 391.73L1524.3 429.23L1524.3 504.23L1459.34 541.73L1394.39 504.23L1394.39 429.23z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M22.86 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.81 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.81 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM22.86 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.09 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.09 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM217.72 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM282.68 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM282.68 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM217.72 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM152.77 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM152.77 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.31 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.31 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM672.4 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM672.4 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.3 -58.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM867.26 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM867.26 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.3 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM997.17 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 616.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM997.17 654.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM932.21 616.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM932.21 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 -58.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1581.75 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1581.75 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.89 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.89 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M111.17 77.39L217.7 138.89L217.7 261.89L111.17 323.39L4.65 261.89L4.65 138.89zM324.22 446.39L430.75 507.89L430.75 630.89L324.22 692.39L217.7 630.89L217.7 507.89zM537.27 77.39L643.79 138.89L643.79 261.89L537.27 323.39L430.75 261.89L430.75 138.89zM750.32 446.39L856.84 507.89L856.84 630.89L750.32 692.39L643.79 630.89L643.79 507.89zM963.37 77.39L1069.89 138.89L1069.89 261.89L963.37 323.39L856.84 261.89L856.84 138.89zM1069.89 -107.11L1176.42 -45.61L1176.42 77.39L1069.89 138.89L963.37 77.39L963.37 -45.61zM1176.42 77.39L1282.94 138.89L1282.94 261.89L1176.42 323.39L1069.89 261.89L1069.89 138.89zM1069.89 261.89L1176.42 323.39L1176.42 446.39L1069.89 507.89L963.37 446.39L963.37 323.39zM1176.42 446.39L1282.94 507.89L1282.94 630.89L1176.42 692.39L1069.89 630.89L1069.89 507.89zM1282.94 261.89L1389.46 323.39L1389.46 446.39L1282.94 507.89L1176.42 446.39L1176.42 323.39z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1155'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}

.primary {
  color: var(--primary);
}

/* ***************************************************Scroll to top button*********************************************************************** */
#butID {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  font-size: 10px;
}

#butID:hover {
  background-color: #555;
}

/* ************************************************************************************************************************************ */


/* ***************************************************Defaults*********************************************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
li {
  margin: 10px 0 10px 0;
}
.calendar,
.quiz,
.know,
.books,
.cap,
.up {
  width: 20px;
}
a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1240px;
  margin: auto;
}
body {
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.9rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}

.btn {
  padding: 14px 32px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  margin: 35px 0 35px 0;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
}

input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 24px 4px;
  font-size: 1rem;
  margin-right: 0.8rem;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  h2 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.1rem;

  }

  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    width: 70%;
    margin: 1rem 0;
  }

  input {
    width: 100%;
  }
}

/* ************************************************************************************************************************************ */


/* Navbar */
header {
  width: 100%;
  height: 100px;
}

header .navbar {
  max-width: 1240px;
  height: 100%;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 100px;
}

/* dark-mode feature */

label {
  position: absolute;
  width: 45px;
  height: 23px;
  right: 80px;
  border: 1px solid;
  border-radius: 15px;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  transition: 0.4s;
}

label.active:before {
  left: 24px;
  background: white;
}
body.night {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1154%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M30.36 166.73L95.31 204.23L95.31 279.23L30.36 316.73L-34.59 279.23L-34.59 204.23zM225.22 54.23L290.18 91.73L290.18 166.73L225.22 204.23L160.27 166.73L160.27 91.73zM744.85 279.23L809.81 316.73L809.81 391.73L744.85 429.23L679.9 391.73L679.9 316.73zM809.8 -58.27L874.76 -20.77L874.76 54.23L809.8 91.73L744.85 54.23L744.85 -20.77zM1004.67 504.23L1069.62 541.73L1069.62 616.73L1004.67 654.23L939.71 616.73L939.71 541.73zM1134.57 54.23L1199.53 91.73L1199.53 166.73L1134.57 204.23L1069.62 166.73L1069.62 91.73zM1199.53 -58.27L1264.48 -20.77L1264.48 54.23L1199.53 91.73L1134.57 54.23L1134.57 -20.77zM1199.53 166.73L1264.48 204.23L1264.48 279.23L1199.53 316.73L1134.57 279.23L1134.57 204.23zM1524.3 279.23L1589.25 316.73L1589.25 391.73L1524.3 429.23L1459.34 391.73L1459.34 316.73zM1459.34 391.73L1524.3 429.23L1524.3 504.23L1459.34 541.73L1394.39 504.23L1394.39 429.23z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M22.86 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.81 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.81 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM22.86 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.09 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.09 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM217.72 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM282.68 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM282.68 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM217.72 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM152.77 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM152.77 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.31 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.31 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM672.4 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM672.4 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.3 -58.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM867.26 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM867.26 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM802.3 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM737.35 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM997.17 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 616.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM997.17 654.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM932.21 616.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM932.21 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 166.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1062.12 91.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 -58.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 54.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 -20.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 204.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.98 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1192.03 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1127.07 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 279.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1581.75 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1581.75 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 391.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 316.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.8 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.84 541.73 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.89 504.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.89 429.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M111.17 77.39L217.7 138.89L217.7 261.89L111.17 323.39L4.65 261.89L4.65 138.89zM324.22 446.39L430.75 507.89L430.75 630.89L324.22 692.39L217.7 630.89L217.7 507.89zM537.27 77.39L643.79 138.89L643.79 261.89L537.27 323.39L430.75 261.89L430.75 138.89zM750.32 446.39L856.84 507.89L856.84 630.89L750.32 692.39L643.79 630.89L643.79 507.89zM963.37 77.39L1069.89 138.89L1069.89 261.89L963.37 323.39L856.84 261.89L856.84 138.89zM1069.89 -107.11L1176.42 -45.61L1176.42 77.39L1069.89 138.89L963.37 77.39L963.37 -45.61zM1176.42 77.39L1282.94 138.89L1282.94 261.89L1176.42 323.39L1069.89 261.89L1069.89 138.89zM1069.89 261.89L1176.42 323.39L1176.42 446.39L1069.89 507.89L963.37 446.39L963.37 323.39zM1176.42 446.39L1282.94 507.89L1282.94 630.89L1176.42 692.39L1069.89 630.89L1069.89 507.89zM1282.94 261.89L1389.46 323.39L1389.46 446.39L1282.94 507.89L1176.42 446.39L1176.42 323.39z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1154'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  color: azure;
}

.sun,
.moon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.moon {
  right: 5px;
}

.sun {
  left: 5px;
}

@media screen and (max-width: 768px) {
  label {
    right: 15px;
}
}


/* hero  */
.hero .container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 4rem auto;
}

.hero h1 {
  padding: 2rem 0;
}

@media screen and (max-width: px) {
  .hero .container {
    margin: 5rem 0 10rem 0;

  }
}


/* Features */
.featured {
  width: 100%;
  padding: 8rem 0;
}

.featured .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.featured .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.featured .left p {
  margin: 1.5rem 0;
}

.featured .left .btn {
  align-self: flex-start;
}

.featured .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured .right .card {
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
  margin: 0.4rem;
  width: 230px;
  height: 230px;
  border-radius: 24px;
  border: 1px solid #d3d3d3;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  text-align: center;
}

.featured .right .card:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.featured .card .top {
  display: flex;
  flex-direction: column;
}

.featured .right img {
  width: 50px;
  margin: auto;
  padding: 0.9rem 0;
}


@media screen and (max-width: 940px) {
  .featured .container {
    grid-template-columns: 1fr;
  }
  .featured .right .card {
text-align: center;  }
  .featured .left .btn {
    align-self: center;
  }
}

@media screen and (max-width: 478px) {
  .featured .container .right .card {
    width: 80%;
    height: 50%;
  }
}

/*Sign  */
.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.about .left {
  text-align: center;
}

.about img {
  width: 80%;
}

.about img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.about .right p {
  margin: 2rem 0;
}

@media screen and (max-width: 940px) {
  .about .container {
    grid-template-columns: 1fr;
  }
}

/* footer */
footer .container {
  text-align: center;
  padding: 50px;
}
